@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
body {
  margin: 0;
  font-family: 'Comic Sans MS', 'Marker Felt', 'Arial Rounded MT Bold', 
    'Segoe Print', 'Chalkboard SE', 'Hiragino Maru Gothic ProN', 
    'Rounded Mplus 1c', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'M PLUS Rounded 1c', 'Kosugi Maru', 'GenRyuMin-B', 
    'Courier New', monospace;
}